.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 250px;
    border: none;
    border-radius: 10px;
    background: #f8f9fa;
    box-shadow: 0px 0px 1px #ced4da;
}

.item-description {
    text-align: center;
    margin: 0px;
}