body {
    padding: 0px;
    margin: 0px;
}

.todo {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.todo-action {

}
.todo-action-input {
    padding: 10px;
    background: #dee2e6;
    border: none;
    border-radius: 10px 0px 0px 10px;
}
.todo-action-input:hover,
.todo-action-input:focus,
.todo-action-input:active {
    outline: none;
}
.todo-action-add {
    background: #f8f9fa;
    padding: 10px;
    border: none;
    border-radius: 0px 10px 10px 0px;
}
.todo-action-add:active {
    background: #dee2e6;
}

.todo-list {

}